 :root {
/*
  /* Example setup for custom colors */
/* Generate at: https://once-ui.com/customize */
/*
  --scheme-brand-100: #1a010d;
  --scheme-brand-200: #33011a;
  --scheme-brand-300: #660333;
  --scheme-brand-400: #99054d;
  --scheme-brand-500: #cc0666;
  --scheme-brand-600: #ff0a54; /* Primary Brand Color */
  --scheme-brand-700: #ff5c8a;
  --scheme-brand-800: #ff85a1;
  --scheme-brand-900: #fbb1bd;
  --scheme-brand-1000: #f7cad0;
  --scheme-brand-1100: #fae0e4;
  --scheme-brand-1200: #fff0f2;
  --scheme-brand-600-10: rgba(255, 10, 84, 0.1);
  --scheme-brand-600-30: rgba(255, 10, 84, 0.3);
  --scheme-brand-600-50: rgba(255, 10, 84, 0.5);

  --scheme-accent-100: #1a010d;
  --scheme-accent-200: #33011a;
  --scheme-accent-300: #660333;
  --scheme-accent-400: #99054d;
  --scheme-accent-500: #cc0666;
  --scheme-accent-600: #ff0a54;
  --scheme-accent-700: #ff5c8a;
  --scheme-accent-800: #ff85a1;
  --scheme-accent-900: #fbb1bd;
  --scheme-accent-1000: #f7cad0;
  --scheme-accent-1100: #fae0e4;
  --scheme-accent-1200: #fff0f2;
  --scheme-accent-600-10: rgba(255, 10, 84, 0.1);
  --scheme-accent-600-30: rgba(255, 10, 84, 0.3);
  --scheme-accent-600-50: rgba(255, 10, 84, 0.5);

  /*
  --scheme-neutral-100:  #020b10;
  --scheme-neutral-200:  #0b181d;
  --scheme-neutral-300:  #344248;
  --scheme-neutral-400:  #4f5d64;
  --scheme-neutral-500:  #68777e;
  --scheme-neutral-600:  #89989f;
  --scheme-neutral-700:  #a7b7be;
  --scheme-neutral-800:  #c7d7df;
  --scheme-neutral-900:  #d4e4ec;
  --scheme-neutral-1000: #e1f2f9;
  --scheme-neutral-1100: #e7f8ff;
  --scheme-neutral-1200: #eeffff;
  --scheme-neutral-600-10: rgba(137,152,159,0.1);
  --scheme-neutral-600-30: rgba(137,152,159,0.3);
  --scheme-neutral-600-50: rgba(137,152,159,0.5);
  */
}